{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <h1>Привет, я Эльнура</h1>
    <p>
        Привет, я хочу попасть на позицию стажер junior Python разработчик,<br>
        обучаться и работать в коллективе, где коллеги смогут подкорректировать мои знания.<br>
        Владею английским(технический) дикое желание работать над настоящими проектами.<br>
        В приоритете выйти через пару лeт на должность middle Python разработчик.<hr>
    </p>
{% endblock %}
